<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ SITEURL }}/index-{{ DEFAULT_LANG }}.html">
    <title>{{ SITENAME }}</title>
    <link rel="canonical" href="{{ SITEURL }}/index-{{ DEFAULT_LANG }}.html">
    <script>
        window.location.replace("{{ SITEURL }}/index-{{ DEFAULT_LANG }}.html");
    </script>
</head>
<body>
    <p>Redirecting to <a href="{{ SITEURL }}/index-{{ DEFAULT_LANG }}.html">{{ SITENAME }}</a>...</p>
</body>
</html>

